@model IEnumerable<UI.Models.Diagnostico>

@{
    Layout = "~/Views/Shared/_LayoutObtener.cshtml";
}

<main>
    <section class="container px-lg-5 ">
        <div class="card cardContainer mt-3 mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col text-center">
                        <img src="~/assets/analysis.png" class="img-fluid rounded-top" alt="" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col text-center">
                        <h4 class="txtTitle">Lista de Diagnósticos</h4>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col text-center">
                        @Html.ActionLink("Nuevo", "agregarDiagnostico", null, new { @class = "btn btn-primary w-50 btnNuevo" })
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped mt-4 tblClientes text-center">
                            <thead>
                                <tr>
                                    <th >@Html.DisplayNameFor(model => model.TN_IdCita)</th>
                                    <th >@Html.DisplayNameFor(model => model.TC_DscDiagnostico)</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-break col-2">@Html.DisplayFor(modelItem => item.TN_IdCita)</td>
                                        <td class="text-break">@Html.DisplayFor(modelItem => item.TC_DscDiagnostico)</td>
                                        <td class="text-break col-3">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    @Html.ActionLink("Editar", "modificarDiagnostico", new { pIdDiagnostico = item.TN_IdDiagnostico }, new { @class = "btn btn-primary btnEditar w-50" })
                                                </div>
                                            </div>

                                            <div class="row mb-2">
                                                <div class="col">
                                                    @Html.ActionLink("Detalles", "detalleDiagnostico", new { pIdDiagnostico = item.TN_IdDiagnostico }, new { @class = "btn btn-primary btnDetalles w-50" })
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    @Html.ActionLink("Eliminar", "eliminarDiagnostico", new { pIdDiagnostico = item.TN_IdDiagnostico }, new { @class = "btn btn-primary btnEliminar w-50" })
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>