@model UI.Models.DetallesMascota

@{
    ViewBag.Title = "eliminarDetalleMascota";
}

<h2>Eliminar Detalle</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Detalles Mascota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TN_IdMascota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TN_IdMascota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TC_Raza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TC_Raza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TN_Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TN_Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TC_Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TC_Color)
        </dd>

    </dl>

    @using (Html.BeginForm("accionesEjecucion", "DetallesMascota", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.TN_IdMascota)

        <div class="form-actions no-color mt-2">
            <button type="submit" name="accionEjecutar" value="Borrar" class="btn btn-warning" formaction="@Url.Action("accionesEjecucion", "DetallesMascota")">
                Eliminar 🗑️
            </button> |
            @Html.ActionLink("Regresar", "obtenerDetallesMascota")
        </div>
    }
</div>
