@model IEnumerable<UI.Models.DetallesMascota>

@{ Layout = "~/Views/Shared/_LayoutObtener.cshtml"; }

<main>
    <section class="container px-lg-5">
        <div class="card cardContainer mt-3 mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col text-center">
                        <img src="/assets/user.png" class="img-fluid rounded-top" alt="" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col text-center">
                        <h4 class="txtTitle">Lista de Detalles</h4>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col text-center">
                        @Html.ActionLink("Nuevo Detalle", "agregarDetalleMascota", null, new { @class = "btn btn-primary w-50 btnNuevo" })
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @if (Model != null && Model.Any())
                        {
                            <table class="table table-striped mt-4 tblClientes text-center">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.TN_IdMascota)</th>
                                        <th>@Html.DisplayNameFor(model => model.TC_Raza)</th>
                                        <th>@Html.DisplayNameFor(model => model.TN_Peso)</th>
                                        <th>@Html.DisplayNameFor(model => model.TC_Color)</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                @{
                                                    var mascota = ViewBag.Mascotas as IEnumerable<UI.Models.Mascotas>;
                                                    if (mascota != null)
                                                    {
                                                        var mascotaSeleccionado = mascota.FirstOrDefault(c => c.TN_IdMascota == item.TN_IdMascota);
                                                        if (mascotaSeleccionado != null)
                                                        {
                                                            @mascotaSeleccionado.TC_NombreMascota
                                                        }
                                                        else
                                                        {
                                                            <text>No se encontró la mascota</text>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <text>ViewBag.Mascotas is null</text>
                                                    }
                                                }
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.TC_Raza)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TN_Peso)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TC_Color)</td>
                                            <td>
                                                <div class="row mb-2">
                                                    <div class="col">
                                                        @Html.ActionLink("Editar", "modificarDetalles", new { pIdDetalle = item.TN_IdMascota }, new { @class = "btn btn-primary btnEditar" })
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col">
                                                        @Html.ActionLink("Detalles", "detallesDetalleMascota", new { pIdDetalle = item.TN_IdMascota }, new { @class = "btn btn-primary btnDetalles" })
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        @Html.ActionLink("Eliminar", "eliminarDetalleMascota", new { pIdDetalle = item.TN_IdMascota }, new { @class = "btn btn-primary btnEliminar" })
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>No hay mascotas para mostrar.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>