@model UI.Models.Cita

@{
    ViewBag.Title = "detalleCita";
}

<h2>Detalle Cita</h2>

<div>
    <h4>Cita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TN_IdCita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TN_IdCita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TN_IdCliente)
        </dt>

        <dd>
            @{
                var cliente = ViewBag.clientes as IEnumerable<UI.Models.Clientes>;
                if (cliente != null)
                {
                    var clienteSeleccionado = cliente.FirstOrDefault(c => c.TN_IdCliente == Model.TN_IdCliente);
                    if (clienteSeleccionado != null)
                    {
                        @clienteSeleccionado.TC_Nombre
                    }
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TN_IdMascota)
        </dt>

        <dd>
            @{
                var mascota = ViewBag.mascotas as IEnumerable<UI.Models.Mascotas>;
                if (mascota != null)
                {
                    var mascotaSeleccionado = mascota.FirstOrDefault(c => c.TN_IdMascota == Model.TN_IdMascota);
                    if (mascotaSeleccionado != null)
                    {
                        @mascotaSeleccionado.TC_NombreMascota
                    }
                }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TF_FecCita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TF_FecCita)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "modificarCitas", new { pIdCita = Model.TN_IdCita }) |
    @Html.ActionLink("Regresar", "obtenerCitas")
</p>