@model UI.Models.Cita

@{
    ViewBag.Title = "modificarCitas";
}

<h2>Modifica Cita</h2>


@using (Html.BeginForm("accionesEjecucion", "Cita", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cita</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TN_IdCita, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TN_IdCita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TN_IdCita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TN_IdCliente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TN_IdCliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TN_IdCliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TN_IdMascota, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TN_IdMascota, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TN_IdMascota, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TF_FecCita, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TF_FecCita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TF_FecCita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 mt-2">
                <button type="submit" name="accionEjecutar" value="Modificar" class="btn btn-primary">
                    Guardar 💾
                </button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "obtenerCitas")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
