@model IEnumerable<UI.Models.Cita>

@{
    ViewBag.Title = "obtenerCitas";
}

<h2>Citas</h2>

<p>
    @Html.ActionLink("Nueva Cita", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TN_IdCita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TN_IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TN_IdMascota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TF_FecCita)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TN_IdCita)
            </td>
            <td>
                @{
                    var cliente = ViewBag.Clientes as IEnumerable<UI.Models.Clientes>;
                    if (cliente != null)
                    {
                        var clienteSeleccionado = cliente.FirstOrDefault(c => c.TN_IdCliente == item.TN_IdCliente);
                        if (clienteSeleccionado != null)
                        {
                            @clienteSeleccionado.TC_Nombre
                        }
                        else
                        {
                            <text>No se encontró el cliente</text>
                        }
                    }
                    else
                    {
                        <text>ViewBag.Clientes is null</text>
                    }
                }
            </td>
            <td>
                @{
                    var mascota = ViewBag.Mascotas as IEnumerable<UI.Models.Mascotas>;
                    if (mascota != null)
                    {
                        var mascotaSeleccionado = mascota.FirstOrDefault(c => c.TN_IdMascota == item.TN_IdMascota);
                        if (mascotaSeleccionado != null)
                        {
                            @mascotaSeleccionado.TC_NombreMascota
                        }
                        else
                        {
                            <text>No se encontró la mascota</text>
                        }
                    }
                    else
                    {
                        <text>ViewBag.Mascotas is null</text>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TF_FecCita)
            </td>
            <td>
                @Html.ActionLink("Editar", "modificarCitas", new { pIdCita = item.TN_IdCita }) |
                @Html.ActionLink("Detalles", "detalleMascotaENT", new { pIdCita = item.TN_IdCita }) |
                @Html.ActionLink("Eliminar", "eliminarMascotaENT", new { pIdCita = item.TN_IdCita })
            </td>
        </tr>
    }
</table>